<?php
$date = $userName = $userComment = $userEmail = $userMsg = "";
if ($_SERVER["REQUEST_METHOD"] == "POST") {
    if(!empty($_POST["userEmail"])){
        $userName = $_POST["userName2"];
        $userEmail = $_POST["userEmail"];
        $userMsg = $_POST["userMsg"];
        
        $sql = "INSERT INTO messages (name, email, content)
                VALUES (".$this->db->escape($userName).", ".$this->db->escape($userEmail).", ".$this->db->escape($userMsg).")";
        $this->db->query($sql);
    }
    else{
        $userName = $_POST["userName"];
        $userComment = $_POST["userComment"];

        $sql = "INSERT INTO comments (name, content)
                VALUES (".$this->db->escape($userName).", ".$this->db->escape($userComment).")";
        $this->db->query($sql);
    }
}
?>

<div class="container top-margin">
    <div class="page-header">
    <h1><?php echo $this->lang->line('contact_contact_us');?></h1>
    </div>
    <section class="featured">
        <div class="contact-section-message"> 
            <div class="row mar-bot40">
                <div class="col-md-6 col-md-offset-3">
                    <div class="align-center">
                    <div class="col-lg-12">
                        <h2 class="slogan"><?php echo $this->lang->line('message');?></h2>
                        <p>
                        <?php echo $this->lang->line('message_subheading');?>
                        </p>
                        <div class="row">
                            <form data-toggle="validator" role="form" method="POST" action="<?php echo current_url();?>">
                            <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="<?php echo $this->lang->line('your_name');?> *" name="userName2" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="<?php echo $this->lang->line('your_email');?> *" name="userEmail" required>
                                    </div>
                            
                            
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="<?php echo $this->lang->line('your_message');?> *" name="userMsg" minlength="10" maxlength="400" rows="4" required></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div class="form-group">
                                    <span class="input-group-btn">     
                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> <?php echo $this->lang->line('send_message');?></button>
                                    </span>
                                </div>
                                <?php
                                    if($userEmail != NULL){
                                        echo '<div class="alert alert-success alert-dismissable" role="alert"><strong>Success</strong>: Message sent.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                                    }
                                ?>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!--<div class="contact-section-comment top-margin"> 
            <div class="row mar-bot40">
                <div class="col-md-6 col-md-offset-3">
                    <div class="align-center">
                    <div class="col-lg-12">
                        <h2 class="slogan"><?php echo $this->lang->line('comment');?></h2>
                        <p>
                        <?php echo $this->lang->line('comment_subheading');?>
                        </p>
                        <div class="row">
                                <div class="col-md-12">
                                    <form data-toggle="validator" role="form" method="POST" action="<?php echo current_url();?>">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="userName" placeholder="<?php echo $this->lang->line('your_name');?> *" minlength="10" maxlength="20" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea type="text" class="form-control" name="userComment" placeholder="<?php echo $this->lang->line('write_your_msg_here');?>... *" minlength="10" maxlength="200" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <span class="input-group-btn">     
                                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> <?php echo $this->lang->line('add_comment');?></button>
                                            </span>
                                        </div>
                                <?php
                                    if($userComment != NULL){
                                        echo '<div class="alert alert-success alert-dismissable" role="alert"><strong>Success</strong>: Comment added.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                                    }
                                ?>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12 comment-body">
                                    <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
                                        <?php
                                            function calcTiming ($time){
                                                $timed = time() - strtotime($time);

                                                $tokens = array (
                                                    31536000 => 'year',
                                                    2592000 => 'month',
                                                    604800 => 'week',
                                                    86400 => 'day',
                                                    3600 => 'hour',
                                                    60 => 'minute',
                                                    1 => 'second'
                                                );

                                                foreach ($tokens as $unit => $text) {
                                                    if ($timed < $unit) continue;
                                                    $timed = $timed / $unit;
                                                    $numberOfUnits = floor($timed);
                                                    return $numberOfUnits.' '.$text.(($numberOfUnits>1)?'s':'').' ago';
                                                }
                                            }

                                            $query = $this->db->query('SELECT name, content, timestamp FROM comments ORDER BY id DESC LIMIT 5');
                                            if($query->num_rows() > 0){
                                                foreach ($query->result() as $entry){
                                                    echo '<strong class="pull-left primary-font">'.$entry->name.'</strong>';
                                                    echo '<small class="pull-right">'.calcTiming($entry->timestamp).'</small><br>';
                                                    echo '<li class="ui-state-default">'.$entry->content.'</li>';
                                                }
                                            }
                                            else{echo '<p>Add your comment here!</p>';}
                                        ?>
                                    </ul>
                                </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>-->
    </section>
    <script src="<?php echo base_url();?>js/validator.js"></script>