<div class="container top-margin">
    <div class="page-header">
    <h1>Contact Us <small>reach out to us</small></h1>
    </div>
    <section class="featured">
    <div class="container"> 
        <div class="row mar-bot40">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <h2 class="slogan">Lorem<br>Ipsum</h2>
                    <p>
                    lorem ipsum lorem ipsom <a href="">www directory</a> lorem.
                    </p>	
                </div>
            </div>
        </div>
    </div>
    </section>