    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><?php echo $this->lang->line('home_jumbotron_title');?>&raquo</h1>
          <p><a class="label-warning" href="http://on.fb.me/ZXM1hS"><?php echo $this->lang->line('join_qna');?></a><br><a class="label-info" href="http://goo.gl/Zz7FGp"><?php echo $this->lang->line('join_us');?></a></p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button"><?php echo $this->lang->line('learn_more');?> &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><?php echo $this->lang->line('news_title');?></h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="index.php/news" role="button"><?php echo $this->lang->line('view_details');?> &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><?php echo $this->lang->line('events_title');?></h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="index.php/news#events" role="button"><?php echo $this->lang->line('view_details');?> &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Apply Now!</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="index.php/applynow" role="button"><?php echo $this->lang->line('view_details');?> &raquo;</a></p>
        </div>
      </div>