<div class="container top-margin">
    <div class="page-header">
    <h1><?php echo $this->lang->line('about_title');?></h1>
    </div>
    <div class="panel panel-default">
    <section class="featured" id="intro">
    <div class="container"> 
        <div class="row mar-bot40">
            <div class="col-md-6">
                <div class="align-center">
                    <h2 class="slogan"><?php echo $this->lang->line('about_intro');?></h2>	
                </div>
            </div>
        </div>
    </div>
    </section>
        <div class="panel-body">
            <h4 class="text-muted" style="line-height:1.5"><?php echo $this->lang->line('about_intro_content');?></h4>
        </div>
    </div>
    <div class="panel panel-default">
    <section class="featured" id="mission">
    <div class="container"> 
        <div class="row mar-bot40">
            <div class="col-md-6">
                <div class="align-center">
                    <h2 class="slogan"><?php echo $this->lang->line('about_mission');?></h2>	
                </div>
            </div>
        </div>
    </div>
    </section>
        <div class="panel-body">
            <div class="col-lg-12 text-center text-muted">
                <h3 class="section-heading"><?php echo $this->lang->line('motto');?></h3>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
    <section class="featured" id="past_events">
    <div class="container"> 
        <div class="row mar-bot40">
            <div class="col-md-6">
                <div class="align-center">
                    <h2 class="slogan"><?php echo $this->lang->line('about_past');?></h2>
                </div>
            </div>
        </div>
    </div>
    </section>
        <div class="panel-body">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <a href="<?php echo base_url();?>index.php/gallery#promotion" target="_blank" class="timeline-image">
                                <img class="img-rounded img-responsive" src="../images/banner.jpg" alt="">
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><?php echo $this->lang->line('about_past_timeline_1_time');?></h4>
                                    <h3 class="subheading" style="font-weight:bold"><?php echo $this->lang->line('about_past_timeline_1_subheading');?></h3>
                                </div>
                                <div class="timeline-body">
                                    <h4 class="text-muted" style="line-height:1.5"><?php echo $this->lang->line('about_past_timeline_1_content');?></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="<?php echo base_url();?>index.php/gallery#1314_chi_mock_oral" target="_blank"  class="timeline-image">
                                <img class="img-rounded img-responsive" src="../images/photo_gallery/1314_chi_mock_oral/main.jpg" alt="">
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><?php echo $this->lang->line('about_past_timeline_2_time');?></h4>
                                    <h3 class="subheading" style="font-weight:bold"><?php echo $this->lang->line('about_past_timeline_2_subheading');?></h3>
                                </div>
                                <div class="timeline-body">
                                    <h4 class="text-muted" style="line-height:1.5"><?php echo $this->lang->line('about_past_timeline_2_content');?></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="<?php echo base_url();?>index.php/gallery#1314_eng_mock_oral" target="_blank"  class="timeline-image">
                                <img class="img-rounded img-responsive" src="../images/photo_gallery/1314_eng_mock_oral/main.jpg" alt="">
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><?php echo $this->lang->line('about_past_timeline_3_time');?></h4>
                                    <h3 class="subheading" style="font-weight:bold"><?php echo $this->lang->line('about_past_timeline_3_subheading');?></h3>
                                </div>
                                <div class="timeline-body">
                                    <h4 class="text-muted" style="line-height:1.5"><?php echo $this->lang->line('about_past_timeline_3_content');?></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="<?php echo base_url();?>index.php/gallery#1314_gg" target="_blank"  class="timeline-image">
                                <img class="img-rounded img-responsive" src="../images/photo_gallery/1314_gg/main.jpg" alt="">
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><?php echo $this->lang->line('about_past_timeline_4_time');?></h4>
                                    <h3 class="subheading" style="font-weight:bold"><?php echo $this->lang->line('about_past_timeline_4_subheading');?></h3>
                                </div>
                                <div class="timeline-body">
                                    <h4 class="text-muted" style="line-height:1.5"><?php echo $this->lang->line('about_past_timeline_4_content');?></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="<?php echo base_url();?>index.php/gallery#1415_mock_exam" target="_blank" class="timeline-image">
                                <img class="img-rounded img-responsive" src="../images/photo_gallery/1415_mock_exam/001.jpg" alt="">
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><?php echo $this->lang->line('about_past_timeline_5_time');?></h4>
                                    <h3 class="subheading" style="font-weight:bold"><?php echo $this->lang->line('about_past_timeline_5_subheading');?></h3>
                                </div>
                                <div class="timeline-body">
                                    <h4 class="text-muted" style="line-height:1.5"><?php echo $this->lang->line('about_past_timeline_5_content');?></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><?php echo $this->lang->line('about_past_timeline_end');?></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        </div>
    </div>
    <div class="panel panel-default">
    <section class="featured" id="team">
    <div class="container"> 
        <div class="row mar-bot40">
            <div class="col-md-6">
                <div class="align-center">
                    <h2 class="slogan"><?php echo $this->lang->line('about_team');?></h2>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="panel-body">
        <div class="row">
            <!--Member Template-->
            <!--<div class="col-sm-4">
                <div class="team-member">
                    <img src="<?php echo base_url().'images/team/1.jpg';?>" class="img-responsive img-circle" alt="">
                    <h4>Kay Garland</h4>
                    <p class="text-muted">President</p>
                </div>
                <div class="team-detail">
                <span>&#9650</span>
                <div class="panel panel-default h4 text-muted">
                  <div class="panel-body">
                    <p>Intro - blahblahblah</p>
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                  </ul>
                </div>
                </div>
            </div>-->
            <?php
                $team_member = '
                {members}
                <div class="col-sm-4">
                    <div class="team-member">
                        <h3>{name}</h3>
                        <h4 class="text-muted" style="font-weight:bold">{post}</h4>
                        <p class="text-muted">{quali}</p>
                    </div>
                </div>
                {/members}
                ';

                $arr = array(
                        array('name'=>'CHAN Tin Tak (Tak)', 
                              'post'=>'Founder and President', 
                              'quali'=>'HKU BBA (A&F) Yr2'),
                        array('name'=>'AU-YEUNG Yui Ying (Hilary)', 
                              'post'=>'Vice President', 
                              'quali'=>'HKU BBA (A&F) Yr2'),
                        array('name'=>'LI Shuk Ping (Lily)', 
                              'post'=>'Secretary', 
                              'quali'=>'HKU BA&BEd(LangEd)-Eng Yr3'),
                        array('name'=>'LEE Him Wo (Paul)', 
                              'post'=>'Program Director', 
                              'quali'=>'HKBU BA (ENG), BEd (ELT)'),
                        array('name'=>'CHAN Wai Pong (PongPong)', 
                              'post'=>'Program Director', 
                              'quali'=>'HKU BNURS Yr3'),
                        array('name'=>'CHIU Man Tsang (Yumi)', 
                              'post'=>'Operational Officer', 
                              'quali'=>'CUHK LL.B Yr2'),
                        array('name'=>'CHIU Kin Kwan (King)', 
                              'post'=>'Program Director & I.C.T. Officer', 
                              'quali'=>'HKU BSc (Maths, Phys)'),
                        array('name'=>'MA Chuan En (Jonathan)', 
                              'post'=>'I.C.T. Officer', 
                              'quali'=>'HKUST BEng (COMP) Yr2')
                       );
                $farr = array('members'=>$arr);
                $result = $this->parser->parse_string($team_member, $farr, TRUE);
                echo $result;
            ?>
        </div>
        <div class="row top-margin">
            <div class="col-lg-12 text-center text-muted">
                <h3 class="section-heading"><?php echo $this->lang->line('about_core_tagline_helpers');?></h3>
            </div>
        </div>

    <!--Template Panel-->
    <!--<div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title" id="helpers">Some Title</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some tagline</h2>
                </div>
            </div>
            <div class="helper-border">
                <table class="table helper">
                    <tr>
                        <td><span class="entry">Dawn Willow</span></td>
                        <td><span class="entry highlight">Dawn Willow</span></td>
                        <td><span class="entry">Dawn Willow</span></td>
                        <td><span class="entry">Dawn Willow</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>-->
    </div>
    </div>