<div class="container top-margin">
    <div class="page-header">
    <h1><?php echo $this->lang->line('news_title');?></h1>
    </div>
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><?php echo $this->lang->line('news_title');?></h4>
                </div>
                      <ul class="list-group text-muted" id="accordion" role="tab" aria-multiselectable="true">
                          <?php
$template = '{entries}
<li class="list-group-item" id="heading-{id}">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{id}" aria-expanded="true" aria-controls="collapse-{id}">
                            <h4 class="list-group-item-heading">
                                {title}
                            </h4>
                            </a>
                            <h5>{brief}</h5>
                            <div id="collapse-{id}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{title}">
                            <div class="list-group-item-text">
                                <div class="news-container">
                                    <div class="news-content align-left">
                                       <p>
                                            {content}
                                        </p>
                                        <p class="align-right h6">'.$this->lang->line('last_mod').'{timestamp}</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </li>{/entries}
';

$query = $this->db->query('SELECT * FROM news_events ORDER BY id DESC');

if($query->num_rows() > 0){
    $data = array('entries'=>$query->result_array());
    foreach($data as $key=>&$value){
        if(is_array($value)){
            foreach($value as &$v){
                $v['timestamp'] = date("m.d.y",time($v['timestamp']));
            }
        }
    }

    $result = $this->parser->parse_string($template, $data, TRUE);
    $result = preg_replace("/panel-collapse collapse/", "panel-collapse collapse in", $result, 1);
    echo $result;
}
else{
    echo '<div class="align-center">'.$this->lang->line('no_news').'</div>';
}
                            ?>
                        <!--<li class="list-group-item" id="newsheadingOne">
                            <a data-toggle="collapse" data-parent="#accordion" href="#newscollapseOne" aria-expanded="true" aria-controls="newscollapseOne">
                            <h4 class="list-group-item-heading">
                                Cras justo odio
                            </h4>
                            </a>
                            <h5>brief brief</h5>
                            <div id="newscollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="newsheadingOne">
                            <div class="list-group-item-text">
                                <div class="news-container">
                                    <div class="news-content align-left">
                                       <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                                            </p>
                                        <img src="<?php echo base_url().'images/team/1.jpg';?>" class="news-img img-rounded">
                                        <p>
                                            Lorem <a href="">hyperlink</a> dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                                            </p>
                                        <hr>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                                            </p>
                                        <p class="align-right h6">Last Modified: 00.00.14</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li class="list-group-item" id="newsheadingTwo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#newscollapseTwo" aria-expanded="false" aria-controls="newscollapseTwo">
                            <h4 class="list-group-item-heading">
                                Dapibus ac facilisis in
                            </h4>
                            </a>
                            <h5>brief brief</h5>
                            <div id="newscollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="newsheadingTwo">
                            <div class="list-group-item-text">
                                <div class="news-container">
                                    <div class="news-content align-left">
                                       <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                                            </p>
                                        <img src="images/team/1.jpg" class="news-img img-rounded">
                                        <p>
                                            Lorem <a href="">hyperlink</a> dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                                            </p>
                                        <hr>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                                            </p>
                                        <p class="align-right h6">Last Modified: 00.00.14</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li class="list-group-item" id="newsheadingThree">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#newscollapseThree" aria-expanded="false" aria-controls="newscollapseThree">
                            <h4 class="list-group-item-heading">
                                Morbi leo risus
                            </h4>
                            </a>
                            <h5>brief brief</h5>
                            <div id="newscollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="newsheadingThree">
                            <div class="list-group-item-text">
                                <div class="news-container">
                                    <div class="news-content align-left">
                                       <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                                            </p>
                                        <img src="<?php echo base_url().'images/team/1.jpg';?>" class="news-img img-rounded">
                                        <p>
                                            Lorem <a href="">hyperlink</a> dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                                            </p>
                                        <hr>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                                            </p>
                                        <p class="align-right h6">Last Modified: 00.00.14</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </li>-->
                      </ul>
                </div>
            </div>
        </div>
    </div>