<hr>
    <footer>
        <p>&copy; Study Budddies 2014. | Icons from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. | Powered by <a href="http://getbootstrap.com">Bootstrap (3.x)</a>.</p>
    </footer>
    </div> <!-- /container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="<?php echo base_url();?>js/bootstrap.js"></script>
</body>