<!doctype html>  
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Study Buddies</title>
<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/>
<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/>
<?php
echo link_tag('css/bootstrap.css');
echo link_tag('css/custom.css');?>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<?php echo base_url();?>">Study Buddies</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav h4">
            <?php if(uri_string()=="")echo '<li class="active"><a href="">';else{echo '<li><a href="',base_url(),'">';}?>Home</a></li>
            <?php if(uri_string()=="news")echo '<li class="active"><a href="">';else{echo '<li><a href="',base_url(),'index.php/news">';}?>News</a></li>
            <?php if(uri_string()=="info")echo '<li class="dropdown active">';else{echo '<li class="dropdown">';}?>
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu lang-dropdown" role="menu">
                <li class="dropdown-header"><?php if(uri_string()=="info")echo '<a href="">';else{echo '<a href="',base_url(),'index.php/info">';}?>
                About Us</a></li>
                <li><a href="<?php echo base_url().'index.php/info#history';?>">
                History</a></li>
                <li><a href="<?php echo base_url().'index.php/info#mission';?>">
                Our Mission</a></li>
                <li><a href="<?php echo base_url().'index.php/info#goals';?>">
                Our Goals</a></li>
                <li class="divider"></li>
                <li class="dropdown-header"><a href="<?php echo base_url().'index.php/info#team';?>">
                The Team</a></li>
                <li><a href="<?php echo base_url().'index.php/info#core';?>">
                Core</a></li>
                <li><a href="<?php echo base_url().'index.php/info#helpers';?>">
                Helpers</a></li>
              </ul>
            </li>
            <?php if(uri_string()=="contact")echo '<li class="active"><a href="">';else{echo '<li><a href="',base_url(),'index.php/contact">';}?>Contact</a></li>
          </ul>
            <div class="smallbar">
                <ul class="smallbar-ul">
                    <div class="btn-group">
                        <button type="button" class="btn btn-stbd role-user">Welcome, <strong>
<?php
    if(empty($this->session->userdata['name'])!=1){
        $displayname = explode(" ", $this->session->userdata['name']);
        echo $displayname[0];
    }
    else{
        echo 'Guest';
    }
?>
</strong>.</button>
                      <button type="button" class="btn btn-stbd dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                          <?php
                        if(empty($this->session->userdata['name'])!=1) {echo 
                       '<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
                        <li><a href="',base_url(),'index.php/logout','"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>';}
                        else{
echo '<li><a href="'.base_url().'index.php/sign'.'"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Sign-up</a></li>
                         <li><a href="'.base_url().'index.php/login'.'"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li>';}?>
                      </ul>
                    </div>
                    <a href="https://www.facebook.com/studybuddieshk"><li class="fb"></li></a>
                    <a href="mail:contact@studybuddies.com.hk"><li class="mail"></li></a>
                    <li class="dropdown">
                    <a href="" class="lang" data-toggle="dropdown" role="button" aria-expanded="false">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="caret"></span></a>
                    <ul class="dropdown-menu lang-dropdown" role="menu">
                    <a href="#"><li>English</li></a>
                    <a href="#"><li>中文</li></a>
                    </ul>
                    </li>
                </ul>
            </div><!-- / .smallbar -->
        </div><!--/.navbar-collapse -->
      </div>
    </nav>